<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.html')%>
</head>

<style>
    body{
        font-family: 'Lobster', cursive;
    }
</style>

<body>
    <%- include ('partials/navigation.html')%>

    <div class="container">
    <header class="row">
        <div class="col-lg-12 text-center">
            <img src="/img/pews-logo.png" class="animate__animated animate__bounce" alt="logo">

        </div>
    </header>
    </div>

    <!-- Seccion uno-->
    <div class="container-fluid" id='about'>
       <div class=" row bg-dark text-white p-5 text-center">
           <div class="col-sm-6">
            <i class="fab fa-youtube fa-10x"></i>
           </div>

           <div class="col-sm-6">
               <h3> Caminando y miando si si</h3>
               <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. 
                 Fue popularizado en los 60s con la creación de las hojas "Letraset",
                  </p>
        </div>
       </div>
    </div>

        <%- include ('partials/footer.html') %>
</body>
</html>